<!-- Home#index -->
<!-- map and filets fluid row -->
<div id="filled" class="row-fluid">
  <div id="baseContainerFluid" class="span9 side-lined">
    <div id="map">
      Бла-бла.
      <a href="/map">Перейти к карте.</a>
    </div>
  </div>
  <div id="filtersContainerFluid" class="span3 right-lined">
     Бла-бла.
  </div>
</div>
