-# Home#index
-# map and filets fluid row
#filled.row-fluid
 #baseContainerFluid.span9.side-lined
  #map
   Бла-бла.
   %a{:href => "/"} Перейти к карте.
 #filtersContainerFluid.span3.right-lined
  Бла-бла.