// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html, .filled { min-height: 100%; height: 100%; margin: 0; }
.right-line { border-right: 1px solid black; }
#basicMap { height: 100%; width: 100%; margin: 0; }
#filters { background-color: #F5F5F5; padding: 5px; text-align: center; } 