<div class="row-fluid filled">
  <div class="span9 right-line filled">
    <div id="basicMap"> <!-- Map block --> </div>
  </div>
  <div id="filters" class="span3 filled">
    <h1>Фильтры</h1>
    <p>Здесь будет панель с фильтрами по времени и т.п.</p>
    <p>Внешний вид карты и элементов управления поддаётся настройке.</p>
    <p> <%= @time  %> </p>
  </div>
</div> <!-- container-fluid -->